@charset "UTF-8";

:root {
    --color0:#012340;
    --color1:#024179;
    --color2:#005FB5;
    --color3:#b56f00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-destaque: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-normal: Arial, Helvetica, sans-serif;
    --font-nav: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to right, var(--color1), var(--color2) );
    background-attachment: fixed;
    display: flex;
    justify-content: center;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 40px;
}

.logo {
    color: var(--color3);
    font-family: var(--font-destaque);
    font-size: 36px;
    font-weight: bolder;
}

.navegacao {
    font-family: var(--font-nav);
    font-weight: 700;
}

.navegacao > a {
    color: white;
    text-decoration: none;
    padding: 0px 20px;
}

.navegacao > a:hover {
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    transition-duration: 0.5s;
}
/*card total*/
.card-total > h1{
    max-width: 2px;
}
.card-cadastro {
    position: relative;
    min-width: 400px;
    min-height: 460px;
    background: rgba(255, 255, 255, 0.11);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    margin-top: 120px;
    border-radius: 20px;
    box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.295);
    padding: 0px 20px;
}

.cadastro {
    text-align: center;
    font-weight: bolder;
    font-family: var(--font-destaque);
    color: var(--color3);
    font-size: 32px;
    padding: 30px;

}

.form {
    color:white;
    padding: 7px 20px 7px 20px ;
    font-family: var(--font-normal);
    font-weight: 600
}

.form > input {
    position: relative;
    width: 100%;
    height: 5%;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    margin-bottom: 15px;
}

.botao-cadastro {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.212);
    border: 0px;
    border-radius: 7px;
    margin:auto; 
    cursor: pointer;
    font-family: var(--font-nav);
    font-size: 20px;
    color: white;
    font-weight: 900;
    text-decoration: none;
    padding: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.botao-cadastro:hover {
    color: var(--color3);
    transition-duration: 0.5s;
}

/*área do Login*/

.card-login {
    position: relative;
    width: 400px;
    height: 440px;
    background: rgba(255, 255, 255, 0.11);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.295);
    padding: 0px 20px;
    margin-top: 120px;
}

.login {
    text-align: center;
    font-weight: bolder;
    font-family: var(--font-destaque);
    color: var(--color3);
    font-size: 32px;
    padding: 30px;
}

.form {
    color:white;
    padding: 7px 20px 7px 20px ;
    font-family: var(--font-normal);
    font-weight: 600
}

.form > input {
    position: relative;
    width: 100%;
    height: 5%;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    margin-bottom: 15px;

}.lembre {
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin:5px;
}

.lembre > a {
    color: white;
    text-decoration: none;
}

.lembre > a:hover{
    text-decoration: underline;
}

.botao-login > a {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.255);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-destaque);
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
    padding: 15px;
    margin: 5px;

}


.botao-login:hover {
    color: var(--color3);
    transition-duration: 0.5s;
}

.sem-login {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    font-family: var(--font-nav);
    color: white;
}

.sem-login > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sem-login > p > a:hover {
    text-decoration: underline;
}